#search {
  .modal-dialog {
    max-width: 500px;
  }
  .modal-header {
    display: flex;
    justify-content: flex-end;

    button.close {
      font-size: 30px;
      font-weight: bold;
      color: #000;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
  .modal-body {
    input[type='search'] {
      width: 100%;
      padding: 15px;
      font-size: 20px;
      border: none;
      border-bottom: 2px solid #ccc;

      &::placeholder {
        font-size: 16px;
        color: #ccc;
      }
    }
  }
}
